.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background: #121212;
    padding: 20px;
    font: normal normal 19px/29px Poppins;
    color: #E1E1E1;
    border-radius: 15px;
    text-align: center;
}

.login-type {
    display: contents;
    
}

.login-type-btn {
    border-radius: 10%;
    border: none;
    padding: 15% 15%;
    margin: 5% 6.5%;
    box-shadow: 0 0 15px 0px #000000;
    font: normal normal bold 19px/29px Poppins;
    cursor: pointer;
    transition: 1s;
}

button.mojang.login-type-btn {
    background: no-repeat center url(../../images/logo/mojang.png);
    background-size: 100%; 
}

button.microsoft.login-type-btn {
    background: no-repeat center url(../../images/logo/microsoft.png);
    background-size: 40%;
}

.login-type-btn:hover {
    box-shadow: 0 0 50px #006e47;
}

.login-type-btn:disabled {
    box-shadow: 0 0 15px 0px #000000;
    cursor: default;
}

.login-type-btn:disabled:hover {
    box-shadow: 0 0 50px #006e47;
}

.login-card-mojang {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    background: #121212;
    padding: 0 -14px;
    font: normal normal bold 19px/29px Poppins;
    color: #E1E1E1;
    border-radius: 15px;
    display: none;
}

.card-body {
    margin: 10%;
}

.login-card-mojang-input {
    text-align: center;
    display: grid;
}

.login-mojang-input {
    font-family: 'Poppins';
    color: #fff;
    background-color: #373737;
    padding: 0.375rem 0.75rem;
}

.loginDisclaimerText {
    text-align: center;
    font-size: 0.5em;
}

.btn-option-login {
    text-align: center;
    margin: 5% 0% 5%;
}

.cancel {
    border: none;
    width: 42.5%;
    height: 35px;
    /* padding: 6px 60px; */
    background-color: #ffffff00;
    color: #F1F1F1;
    font: normal normal bold 19px/29px Poppins;
    transition: 0.5s;
    box-shadow: 0 0 15px #000000;
    border-radius: 15px;
}

.login-btn:hover {
    background-color: #006e47;
    box-shadow: 0 0 5px #006e47;
}

.login-btn {
    border-radius: 15px;
    width: 42.5%;
    height: 35px;
    border: none;
    background-color: #00bd7a;
    font: normal normal bold 19px/29px Poppins;
    cursor: pointer;
    transition: 0.5s;
    margin: 0% 0% 0% 10%;
    box-shadow: 0 0 10px #00bd7a;
}

.cancel:hover {
    color: #373737;
}

.cancel:hover:disabled {
    color: #F1F1F1;
    cursor: default;
}